/* HomePage.css */
.home-page{
    text-align: center;
    color: palevioletred;
    font-style:italic;
    margin-top: 10px;
    
}
    body{
     background-image: url(https://i.pinimg.com/originals/e8/c9/df/e8c9df3391c56187e8ebb909f33da143.jpg); /* Path to your background image */
  background-size : cover;
  background-position:right;
  }
  
  .home-page h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .home-page p {
    font-size: 1.2em;
    color:rgb(58, 180, 180);
  }
  .welcome{
    background-color: white;
    text-align: center;
   
  }
 
  